.container {
    position: relative;
    overflow: hidden;
}

.jumbotron h1 {
	color: #592848;
	font-family: 'Covered By Your Grace', cursive;
	font-weight: 400;
	font-size: 80;
}

.jumbotron {
	background-image: url("http://i.imgur.com/TmVduAN.jpg");
	background-size: cover;
}


h3 {
	color: #592848;
	font-family: 'Covered By Your Grace', cursive;
	font-weight: 400;
	font-size: 50;
}

p {
	color: #298499;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15;
}

.display {
	display: none;
}

#footer {
	background-color: #eee;
	text-align: center;
	border-radius: 5px;
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: .3;

}